page-messages {

}

ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px!important;
}

.footer_form .list-ios, .footer_form .list-md{
	margin: 0px;
}
ion-thumbnail img{
	border-radius: 7px;
}
